@import "src/scss/base/globales";
@import "/src/scss/base/mixins";

#header {
  display: inline-block;
  padding: 2rem;
}

#profile-img {
  margin: 0 auto;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

#name {
  font-weight: $regular;
}

#identifier {
  font-weight: $delgada;
}
