@import 'src/scss/base/globales';
@import 'src/scss/base/variables';

.footer {
    background-color: $primaryColor;
    padding: 30px;
}

.copyright {
    color: $terciaryColor;
    text-align: center;
}