@import 'src/scss/base/globales';
@import 'src/scss/base/variables';
@import 'src/scss/base/tipografia';
@import 'src/scss/base/mixins';

header {
    background-color: $primaryColor;

    .content-header {
        padding: 2rem 0;

        @include tablet {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }

    h1 {
        color: white;
        margin-bottom: 1rem;
        text-align: center;
        &:hover {
            cursor: pointer;
            color: black;
        }
    }
}

nav {
    display: flex;
    gap: 2rem;
    justify-content: center;

    a {
        font-size: 2rem;
        color: white;

        &:hover {
            color: black;
        }
    }
}

.logout {
    border: none;
    font-family: $fuente_principal;
    border-left: 2px solid white;
    color: white;
    background: none;
    font-size: 2rem;
    padding-left: 1.5rem;

    &:hover {
        cursor: pointer;
        color: black;
    }
}
