<div class="container">
  <div class="header-company">
    <app-header-company [img]="image" [owner]="owner" [nickname]="nickname"></app-header-company>
  </div>
  <div class="description">
    <p>{{ company.description }}</p>
  </div>
  <h1 class="paneldecontrol">PANEL DE CONTROL</h1>
  <!-- <p>Página en construcción</p>
  <img
    src="https://cr00.epimg.net/radio/imagenes/2022/03/28/tendencias/1648476125_401555_1648477371_noticia_normal.jpg"
    alt="img_meme"
  /> -->
  <div class="buttons-details">
    <button
      [ngClass]="{ disabled: personalInformationChecked === true }"
      (click)="isPersonalInformationButtonPressed()"
      class="btn-blue"
      id="personal-information-button"
    >
      Información Personal
    </button>
    <button
      [ngClass]="{ disabled: bookingsChecking === true }"
      (click)="isBookingsButtonPressed()"
      class="btn-blue"
      id="bookings-button"
    >
      Reservas
    </button>
  </div>
  <div class="container-interior">
    <div *ngIf="personalInformationChecked">
      <div class="company-info">
        <h4>Ciudad:</h4>
        <p>{{ company.address.city }}</p>
        <h4>Provincia:</h4>
        <p>{{ company.address.province }}</p>
        <h4>Pais:</h4>
        <p>{{ company.address.country }}</p>
        <h4>Codigo Postal:</h4>
        <p>{{ company.address.cp }}</p>
        <h4>Calle:</h4>
        <p>{{ company.address.street }}</p>
        <h4>Número:</h4>
        <p>{{ company.address.number }}</p>
        <h4>Email:</h4>
        <p>{{ company.contact.email }}</p>
        <h4>Número de telefono:</h4>
        <p>+{{ company.contact.phone }}</p>
      </div>
    </div>

    <div class="camejo" *ngIf="bookingsChecking">
      <div class="singleBooking" *ngFor="let object of showedBookings">
        <div>
          <p>🧍 {{ object.client }}</p>
        </div>
        <div>
          <p>📅 {{ object.bookingDate.day }}</p>
          <p>⌚ {{ object.bookingDate.hour }}</p>
        </div>
        <div>
          <p>🧑‍🤝‍🧑 {{ object.numPerson }}</p>
        </div>
        <div>
          <span class="bookingUrl-icon">🔗 </span
          ><a class="bookingUrl" href="/{{ object.owner }}/{{ object.bookingToken }}">{{
            object.bookingToken
          }}</a>
        </div>
        <div>
          <p>📱 {{ object.contact.phone }}</p>
        </div>
        <div *ngIf="object.contact.email != null">
          <p>📧 {{ object.contact.email }}</p>
        </div>
        <div class="info">
          <p>📜 Información Adicional:</p>
          <P> {{ object.textArea }}</P>
        </div>
        <div class="buttons">
          <button (click)="deleteBookingAlert(object)" class="btn-red">Cancelar reserva</button>
        </div>
        <!-- <button
        (click)="editOneBookingByToken(object)"
        class="btn-blue"
      >
        Editar reserva.
      </button> -->
      </div>
    </div>
  </div>
</div>
