<div class="container">
  <h1 class="paneldecontrol">PANEL DE CONTROL</h1>
  <!-- <p>Página en construcción</p>
  <img
    src="https://cr00.epimg.net/radio/imagenes/2022/03/28/tendencias/1648476125_401555_1648477371_noticia_normal.jpg"
    alt="img_meme"
  /> -->
  <button (click)="isPersonalInformationButtonPressed()" class="btn-blue">
    Información Personal
  </button>
  <button (click)="isBookingsButtonPressed()" class="btn-blue">Reservas</button>
  <div class="container-interior">
    <div *ngIf="personalInformationChecked">
      <div class="company-info">
        <p class="captions">
          ¿?: <span>{{ company.nickname }}</span>
        </p>

        <h2>Url Personalizada:</h2>
        <p>{{ company.owner }}</p>

        <h2>Descripción:</h2>
        <p>{{ company.description }}</p>

        <h2>Ciudad:</h2>
        <p>{{ company.address.city }}</p>

        <h2>Provincia:</h2>
        <p>{{ company.address.province }}</p>

        <h2>Pais:</h2>
        <p>{{ company.address.country }}</p>

        <h2>Codigo Postal:</h2>
        <p>{{ company.address.cp }}</p>

        <h2>Calle:</h2>
        <p>{{ company.address.street }}</p>

        <h2>Numero:</h2>
        <p>{{ company.address.number }}</p>

        <h2>Email:</h2>
        <p>{{ company.contact.email }}</p>

        <h2>Numero de telefono:</h2>
        <p>+{{ company.contact.phone }}</p>
      </div>
    </div>

    <div class="camejo" *ngIf="bookingsChecking">
      <div class="singleBooking" *ngFor="let object of showedBookings">
        <div>
          <p>📅 {{ object.bookingDate.day }}</p>
          <p>⌚ {{ object.bookingDate.hour }}</p>
        </div>
        <div>
          <p>🧑‍🤝‍🧑 {{ object.numPerson }}</p>
        </div>
        <div>
          <a class="bookingUrl" href="/{{ object.owner }}/{{ object.bookingToken }}"
            >🔗 {{ object.bookingToken }}</a
          >
        </div>
        <div>
          <p>📱 {{ object.contact.phone }}</p>
        </div>
        <div *ngIf="object.contact.email != null">
          <p>📧 {{ object.contact.email }}</p>
        </div>
        <div class="info">
          <p>📜 Información Adicional: {{ object.textarea }}</p>
          <P> {{ object.textarea }}</P>
        </div>
        <button (click)="deleteOneBookingByToken(object)" class="btn-blue">
          Eliminar reserva.
        </button>
        <!-- <button
        (click)="editOneBookingByToken(object)"
        class="btn-blue"
      >
        Editar reserva.
      </button> -->
      </div>
    </div>
  </div>
</div>
