.container {
  width: 100%;
  max-width: 1200px;
  padding: 1rem;
  margin: 0 auto;
}

.notfound {
  text-align: center;
  padding: 100px 0;
  font-size: 50px;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

