<form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
  <div>
    <label for="email">Email</label>
    <input
      type="email"
      id="email"
      placeholder="Correo Eléctronico"
      name="email"
      [ngClass]="{
        'is-invalid':
          loginForm.get('email')?.touched && !loginForm.get('email')?.valid
      }"
      formControlName="email"
      required
    />
    <div
      *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.errors?.['required']"
    >
      Email is required
    </div>
  </div>

  <div class="campo">
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      placeholder="Contraseña"
      name="password"
      [ngClass]="{
        'is-invalid':
          loginForm.get('password')?.touched &&
          !loginForm.get('password')?.valid
      }"
      formControlName="password"
      required
    />
    <div
      *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['required']"
    >
      Password is required
    </div>
  </div>

  <div>
    <button type="submit" [disabled]="loginForm.invalid">Enviar</button>
  </div>
</form>
