@import 'src/scss/base/_globales.scss';
@import '/src/scss/base/_mixins';

.main {
    @include tablet {
        @include grid-custom(2fr, 20px);
    }
    @include desktop {
        @include grid-custom(3fr, 20px)
    }
    
}

.schedule-container {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-evenly;
    align-items: center;
}


@import '/src/scss/base/buttons';

