@import 'src/scss/base/_globales.scss';
@import '/src/scss/base/_mixins';
@import 'src/scss/base/_buttons.scss';


.grid-container-main {

    display: grid;
 
    grid-template-columns: auto;
    text-align: center;
    justify-items: center;
}

.grid-container-main h1 {
    padding: 20px;
    color: $secondaryColor;
    font-weight: $bold;
}
.grid-container-main h2 {
    padding: 20px;
}
.grid-container-main p {
    padding: 20px;
}