<div class="container">
    <div class="grid-container-main">
        <h1>SIBARITA</h1>
       
        <h2>la mejor APP para reservar mesas</h2>
       
        <h3>¿Te interesa que tus clientes hagan reservas en tu local con un solo click? Sibarita es la solución. </h3>
        <p>Con nosotros podrás darle la opción a tus clientes de crear una reserva para vuestro local ¡¡ Sin necesidad de registros y en solo 1 click !!. 
        </p>
        <a class="btn-blue" href="/Burguer_Lolo"> PRUEBANOS !!</a>
        
    </div>
</div>
