@import 'src/scss/base/mixins';

.container {
	height: 76.6vh;
	display: flex;
	justify-content: center;
    align-items: center;
}

#inner-box {
	padding: 2rem;
	flex-direction: column;
	align-items: center;
}

.img-position {
	display: flex;
	justify-content: center;
    align-items: center;
}

#image {
	border-radius: 1rem;
	background-image: url('../../../assets/image/image-404_notFound.webp');
	background-position:center;
	background-size: contain;
	background-repeat: unset;
	width: 25rem;
	aspect-ratio: 1 / 1 ;
	@include tablet {
	width: 30rem;
}
}
