<div *ngIf="checked">
  <div class="container">
    <app-header-company
      [img]="company.image"
      [owner]="company.owner"
      [nickname]="company.nickname"
    >
    </app-header-company>

    <div class="card-container">
      <h3 class="">Reserva Realizada ✅</h3>
      <h4>Tu Id de reserva es:</h4>
      <a [href]="company.owner + '/' + booking.bookingToken"
        >{{ company.owner }}/{{ booking.bookingToken }}</a
      >
      <h4 class="h4-nombre">Nombre:</h4>
      <p class="">{{ booking.client }}</p>
      <h4>Fecha y Hora:</h4>
      <p class="">
        {{ booking.bookingDate.day }} - {{ booking.bookingDate.hour }}
      </p>
      <h4>Dirección:</h4>
      <p class="">
        {{ companyAddress.street }}, {{ companyAddress.number }},
        {{ companyAddress.province }},
      </p>
      <p class="">{{ companyAddress.country }}, {{ companyAddress.cp }}.</p>
    </div>
  </div>
</div>

<div *ngIf="!checked">
  <h1>Perfil no existe</h1>
</div>
