<div *ngIf="checked">
  <app-header-company
    [img]="company.image"
    [owner]="company.owner"
    [nickname]="company.nickname"
  ></app-header-company>

  <main class="">
    <form action="#" method="post" id="booking-form" class="">
      <div class="">
        <label for="name" class="">Nombre:</label>
        <input
          required
          [(ngModel)]="checkBooking.client"
          type="text"
          name="name"
          id="forms--input-name"
          class=""
          placeholder="Nombre de la reserva"
        />

        <label for="numero-de-personas" class="">Personas:</label>
        <!--Hay que mirar el max-->
        <input
          [(ngModel)]="checkBooking.numPerson"
          type="number"
          name="number-of-people"
          id="forms--input-number"
          class=""
          placeholder="Numero de personas"
          min="1"
        />

        <!-- <input required type="datetime-local" name="booking-date" id="forms--input-date" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"> -->
        <label for="numero-de-personas" class="">Día:</label>
        <input
          [(ngModel)]="checkBooking.bookingDate.day"
          type="date"
          name="number-of-people"
          id="forms--input-number"
          class=""
          placeholder="Numero de personas"
          min="1"
        />

        <label for="numero-de-personas" class="">Hora:</label>
        <input
          [(ngModel)]="checkBooking.bookingDate.hour"
          type="time"
          name="number-of-people"
          id="forms--input-number"
          class=""
          placeholder="Numero de personas"
          min="1"
        />
      </div>

      <div class="">
        <input
          (click)="postBookingClick()"
          type="submit"
          form="booking-form"
          class="btn-blue"
          value="Confirmar Reserva"
        />
      </div>
    </form>

    <!-- Pasar el botón a un "a" con el link. Sacar el token => Ponerlo como link nuevo => maquetar con los chiquillos la web -->
    <!-- <button (click)="checkingAvailableBookings()" type="submit" form="booking-form" class="btn-blue-block">Reserva ahora!</button> -->

    <!-- <div class="schedule-container">
            <table class="table-fixed">
                <tbody>
                <tr>
                    <th>Lunes</th>
                    <td>7:30 de la tarde - 11:00 de la tarde</td>
                </tr>
                <tr>
                    <th>Martes</th>
                    <td>7:30 de la tarde - 11:00 de la tarde</td>
                </tr>
                <tr>
                    <th>Miércoles</th>
                    <td>7:30 de la tarde - 11:00 de la tarde</td>
                </tr>
                <tr>
                    <th>Jueves</th>
                    <td>7:30 de la tarde - 11:00 de la tarde</td>
                </tr>
                <tr>
                    <th>Viernes</th>
                    <td>7:30 de la tarde - 11:00 de la tarde</td>
                </tr>
                <tr>
                    <th>Sábado</th>
                    <td>7:30 de la tarde - 11:00 de la tarde</td>
                </tr>
                <tr>
                    <th>Domingo</th>
                    <td>7:30 de la tarde - 11:00 de la tarde</td>
                </tr>
                </tbody>
            </table>
            
        </div> -->

    <app-formulario></app-formulario>
  </main>
</div>
<div *ngIf="!checked">
  <div class="container notfound">
    <h1>Perfil no existe</h1>
  </div>
</div>

<!--Primero le pido el día-->
<!--Recibo las horas a las que hay disponibilidad-->
<!--Le muestro las mesas disponibles según las horas-->
<!--Le dejo seleccionar cantidad de mesas que quiere reservar-->

<!---->
<!--Mostrarle un resumen de las opciones seleccionadas-->
<!--Por último, una vez seleccione las mesas, le pido el nombre-->
<!--Botón de reservar-->
<!-- -->
