@import 'src/scss/base/globales';
@import '/src/scss/base/mixins';
@import '/src/scss/base/tipografia';

.container {
    padding: 1rem;
    font-family: $fuente_principal;
    
    .description {
        font-size: 2.5rem;
        font-weight: 600;
    }

    @include tablet {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.notfound {
    display: flex;
    height: 73.5vh;
}