@import 'src/scss/base/_globales.scss';
@import '/src/scss/base/_mixins';
@import '/src/scss/base/buttons';
@import '/src/scss/base/utilities';

.grid {
    @include tablet {
        @include grid-custom(2fr, 20px);
    }
}

.content {
    margin-bottom: 2rem;
}

.notfound{
    text-align: center;
    padding: 100px 0;
    font-size: 50px;
}
