<div *ngIf="checked">
  <app-header-company
    [img]="company.image"
    [owner]="company.owner"
    [nickname]="company.nickname"
  ></app-header-company>

  <div class="container">
    <main class="grid">
      <div class="content">
        <h3>DESCRIPCIÓN</h3>
        <div class="description">{{ company.description }}</div>
      </div>

      <app-formulario></app-formulario>

      <aside>
        <div class="flex">
          <p>
            {{ address.street }}, {{ address.number }}, {{ address.cp }},
            {{ address.city }}, {{ address.province }}, {{ address.country }}
          </p>
        </div>
        <div class="flex">
          <p>+{{ contact.phone }}</p>
        </div>
        <div class="flex" *ngIf="contact.email">
          <p>{{ contact.email }}</p>
        </div>
      </aside>
    </main>
  </div>
</div>

<div *ngIf="!checked">
  <div class="container notfound">
    <h1>Perfil no existe</h1>
  </div>
</div>
