<form (ngSubmit)="onSubmit()" [formGroup]="bookingForm">
  <div>
    <label class="captions" for="name">Nombre*</label>
    <input
      type="text"
      [ngClass]="{
        'is-invalid':
          (isSubmitted || bookingForm.get('name')?.touched) && !bookingForm.get('name')?.valid
      }"
      id="name"
      name="name"
      formControlName="name"
      required
      placeholder="A nombre de..."
    />
    <div
      *ngIf="( isSubmitted || bookingForm.get('name')?.touched ) && bookingForm.get('name')?.errors?.['required']"
      class="alert"
    >
      Name is required
    </div>
    <div
      *ngIf="( isSubmitted || bookingForm.get('name')?.touched ) && bookingForm.get('name')?.errors?.['minlength']"
      class="alert"
    >
      Name must have a minimum of
      {{ bookingForm.get('name')?.touched && bookingForm.get('name')?.errors?.['minlength']?.requiredLength }}
      characters
    </div>
  </div>

  <div>
    <label class="captions" for="persons">Personas*</label>
    <input
      type="number"
      [ngClass]="{
        'is-invalid':
          (isSubmitted || bookingForm.get('persons')?.touched) && !bookingForm.get('persons')?.valid
      }"
      id="persons"
      min="1"
      name="persons"
      formControlName="persons"
      required
      placeholder="Número de personas"
    />
    <div
      *ngIf="( isSubmitted || bookingForm.get('persons')?.touched ) && bookingForm.get('persons')?.errors?.['required']"
      class="alert"
    >
      Persons is required
    </div>
  </div>

  <div>
    <label class="captions" for="date">Fecha*</label>
    <input
      type="date"
      [ngClass]="{
        'is-invalid':
          (isSubmitted || bookingForm.get('date')?.touched) && !bookingForm.get('date')?.valid
      }"
      id="date"
      name="date"
      formControlName="date"
      required
      [min]="date | date: 'yyyy-MM-dd'"
    />
    <div
      *ngIf="( isSubmitted || bookingForm.get('date')?.touched ) && bookingForm.get('date')?.errors?.['required']"
      class="alert"
    >
      Date is required
    </div>
  </div>

  <div>
    <label class="captions" for="time">Hora*</label>
    <input
      type="time"
      [ngClass]="{
        'is-invalid':
          (isSubmitted || bookingForm.get('time')?.touched) && !bookingForm.get('time')?.valid
      }"
      id="time"
      name="time"
      formControlName="time"
      required
    /><!-- Falta validacion min y max -->
    <div
      *ngIf="( isSubmitted || bookingForm.get('time')?.touched ) && bookingForm.get('time')?.errors?.['required']"
      class="alert"
    >
      Time is required
    </div>
  </div>

  <!-- Tlf obligatorio, y falta validacion-->
  <div>
    <label class="captions" for="tel">Teléfono Móvil*</label>
    <input
      type="tel"
      [ngClass]="{
        'is-invalid':
          (isSubmitted || bookingForm.get('tel')?.touched) && !bookingForm.get('tel')?.valid
      }"
      id="tel"
      name="tel"
      formControlName="tel"
      placeholder="Teléfono de contacto"
    />
    <div
      *ngIf="( isSubmitted || bookingForm.get('tel')?.touched ) && bookingForm.get('tel')?.errors?.['required']"
      class="alert"
    >
      Tel is required
    </div>
    <div
      *ngIf="( isSubmitted || bookingForm.get('tel')?.touched ) && bookingForm.get('tel')?.errors?.['pattern']"
      class="alert"
    >
      Tel format is invalid or incorrect
    </div>
  </div>

  <!-- Tlf obligatorio, y falta validacion-->
  <div>
    <label class="captions" for="email">Email</label>
    <input
      type="email"
      [ngClass]="{
        'is-invalid':
          (isSubmitted || bookingForm.get('email')?.touched) && !bookingForm.get('email')?.valid
      }"
      id="email"
      name="email"
      placeholder="Email de contacto"
      formControlName="email"
    />
    <div
      *ngIf="bookingForm.get('email')?.touched && bookingForm.get('email')?.errors?.['email']"
      class="alert"
    >
      Email format is invalid or incorrect
    </div>
  </div>

  <div>
    <label class="captions" for="coment">Comentario</label>
    <textarea
      type="time"
      placeholder="Añada un comentario adicional..."
      [ngClass]="{
        'is-invalid': bookingForm.get('coment')?.touched && !bookingForm.get('coment')?.valid
      }"
      formControlName="coment"
      name="coment"
      id="coment"
      cols="30"
      rows="10"
    >
    </textarea>
    <div
      *ngIf="bookingForm.get('coment')?.touched && bookingForm.get('coment')?.errors?.['maxlength']"
      class="alert"
    >
      Longitud demasiado larga. Tiene un máximo de 140 caracteres.
    </div>
  </div>
  <div>
    <label class="captions-extra"> Los campos marcados con el simbolo * son obligatorios. </label>
  </div>

  <div>
    <button [ngClass]="{ 'is-invalid': bookingForm.invalid }" class="btn-blue" type="submit">
      Enviar
    </button>
  </div>
</form>
