// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import './scss/base/normalize';
@import './scss/base/variables';

html {
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body, html {
    background-color: $bgColor;
}

