@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

@import './scss/base/normalize';
@import './scss/base/variables';
@import './scss/base/tipografia';
@import "./scss/components/sweetAlert";

html {
    font-size: 62.5%; /* 1rem = 10px */
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}